.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
  max-width: 600px;
}

.table th,
.table td {
  padding: 8px;
  border-bottom: 1px solid #000;
  text-align: left;
  border-left: 1px solid #000;
}

.table th {
  background-color: #333;
  color: #fff;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:nth-child(odd) {
  background-color: #fff;
}

.table tbody tr:nth-child(even) {
  background-color: #ccc;
}

.table tbody tr:nth-child(odd) {
  background-color: #fff;
}

.table tbody tr:nth-child(even) td,
.table tbody tr:nth-child(odd) td {
  border-right: 1px solid #000;
}

.table thead tr:nth-child(even) th,
.table thead tr:nth-child(odd) th {
  border-right: 1px solid #000;
}

.table tbody tr:hover {
  background-color: #ddd;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

svg,
img {
  display: block;
  max-width: 100%;
  height: auto;
}
